<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <style>
    .card {
            height: 200px;
            margin-top: auto;
            margin-bottom: auto;
            width: 100%;
            background-color: rgba(255, 255, 255) !important;
            padding-top: 50px;
            padding-right: 30px;
            padding-bottom: 50px;
            padding-left: 10px;
        }
  </style>
</head>



<body>
 <div>
 <a id="dashboard" class="fa fa-home" href="/dashboard"><button><b>Home</b></button></a>
 </div>
<div class='eachchart'>
<h1 class='headings'>{{title}}</h1>
  <canvas id="myChart"></canvas>
 </div>
 
 <div class='eachchart'>
 <h1 class='headings'>{{titletwo}}</h1>
  <canvas id="myChartTwo"></canvas>
 </div>

 <div class='eachchart'>
 <h1 class='headings'>{{titlethree}}</h1>
  <canvas id="myChartThree"></canvas>
 </div>
 
 <div class='eachchart'>
 <h1 class='headings'>{{titlefour}}</h1>
  <canvas id="myChartFour"></canvas>
 </div>
 
 </body>
 
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  
const datatwo = {
  labels : [
          {% for item in labelstwo %}
           "{{ item }}",
          {% endfor %}
		],
  datasets: [{
    type: 'bar',
    label: 'FOOD',
    data: [
            {% for item in valuestwo %}
               "{{ item }}",
              {% endfor %}
	    ],
    borderColor: '#800000',
    backgroundColor: '#800000'
    
  }, {
    type: 'bar',
    label: 'Non-Food',
    data: [
            {% for item in valuestwotwo %}
               "{{ item }}",
              {% endfor %}
	    ],
    // fill: false,
    backgroundColor: '#800000'
    // borderColor: 'rgb(0, 255, 255)'
  }]
};
const ctx = document.getElementById('myChartTwo');
  let chart = new Chart(ctx, {
    type: 'bar',
    data: datatwo
});	


const data = {
  labels : [
          {% for item in labels %}
           "{{ item }}",
          {% endfor %}
		],
  datasets: [{
    type: 'bar',
    label: 'SPENT',
    data: [
            {% for item in values %}
               "{{ item }}",
              {% endfor %}
	    ],
    backgroundColor: '#800000',
    borderColor: '#800000'
    
  }]
};
const ctxnew=document.getElementById('myChart');
let chartnew = new Chart(ctxnew, {
    type: 'bar',
    data: data
});


const datathree = {
  labels : [
          {% for item in labelsthree %}
           "{{ item }}",
          {% endfor %}
		],
  datasets: [{
    type: 'pie',
    label: 'SPENT(COMMODITY-FOOD)',
    data: [
            {% for item in valuesthree %}
               "{{ item }}",
              {% endfor %}
	    ],
    borderColor: '#800000'
    
  }]
};
const ctxnewthree=document.getElementById('myChartThree');
let chartnewthree = new Chart(ctxnewthree, {
    type: 'line',
    data: datathree,
    borderColor: '#800000'
});


const datafour = {
  labels : [
          {% for item in labelsfour %}
           "{{ item }}",
          {% endfor %}
		],
  datasets: [{
    type: 'line',
    label: 'SPENT',
    data: [
            {% for item in valuesfour %}
               "{{ item }}",
              {% endfor %}
	    ],
      borderColor: '#800000'
    
    
  }]
};
const ctxnewfour=document.getElementById('myChartFour');
let chartnewfour = new Chart(ctxnewfour, {
    type: 'line',
    data: datafour,
    borderColor: '#800000'
});

</script>
</head>

