<!DOCTYPE html>
<html>
  <title>Final Project Dashboard</title>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
   <style>

body {
/*           
            background-image: url("{{url_for('static', filename='../Pictures/Loginbackground.jpg')}}"); */
            background-size: cover;
            background-image: radial-gradient(circle,  rgb(255, 255, 255),rgb(15, 161, 205));
            /* background-color: rgba(108, 103, 103, 0.816) !important; */
        }
        
   </style>
</head>
  <body>
  <br/>
  <br/>
  <br/>
<div class="card">

  <div class="title">Search HHM</div>

  <div class="features">
    <ul>
      <li>Sample Data Pull for HSHD_NUM #10 and Search</li>
	 
    </ul>
  </div><!--/features-->

  <a href="{{url_for('searchhhm')}}" class="btn">Check it out</a>

</div><!--/card-->

  
<div class="card">

  <div class="title">Web Page with Dashboard</div>

  <div class="features">
    <ul>
      <li>Which <span>demographic factors affect customer engagement?</li>
      
	  <li>      </li>
    </ul>
  </div><!--/features-->

  <a href="{{url_for('loadDashboard')}}" class="btn">Check it out</a>

</div><!--/card-->

  
<div class="card">

  <div class="title">Load the most current Data sets</div>
  <div class="features">
    <ul>
      <li>load the most current Data sets for Transactions, Households, and Products</li>
      
      
    </ul>
  </div><!--/features-->

  <a href="{{url_for('uploaddatasets')}}" class="btn">Check it out</a>

</div><!--/card-->





 </body>
</html>