<!DOCTYPE html>
<html>
  <title>Final Project Dashboard</title>
  <head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<style>
  input {
  width: 60%;
}
body {
/*           
            background-image: url("{{url_for('static', filename='../Pictures/Loginbackground.jpg')}}"); */
            background-size: cover;
            background-image: radial-gradient(circle,  rgb(255, 255, 255),rgb(15, 161, 205));
            /* background-color: rgba(108, 103, 103, 0.816) !important; */
        }
</style>
</head>
 <body>
 <h1>SEARCH ON DATA PULLs BASED ON <i>Hshd_num</i></h1>
 <div align="right">
  <a id="dashboard" class="fa fa-home fa-2x" href="{{url_for('dashboard')}}"></a>
  </div>
 <div class="Errormessage"><FONT COLOR="#FF0000">{{ message }}</FONT></div><br/>
<form action="{{url_for('searchhhmnew')}}" method="POST">
  <input type="search" name="hshd_num" placeholder="search Hshd_num" required>
  <button class="fa fa-search fa-1x"></button>
  <a class="clear" href="javascript:void(0)" id="clear-btn">Clear</a>
</form>


<script type="text/javascript">
const clearInput = () => {
  const input = document.getElementsByTagName("input")[0];
  input.value = "";
}
const clearBtn = document.getElementById("clear-btn");
clearBtn.addEventListener("click", clearInput);
</script>

</body>
</html>